<!--The content below is only a placeholder and can be replaced.-->
<div class="container">

<a routerLink="">
<img src="../assets/img/movie-tube-brand-logo.svg" alt="logo" height="60" width="120">
</a>
<ul>
  <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Movie</a></li>
  <li><a routerLink="/live" routerLinkActive="active">Live</a></li>
  <li><a routerLink="/movie-request" routerLinkActive="active">Movie Request</a></li>
  <li><a routerLink="/feature-request" routerLinkActive="active">Feature Request</a></li>
  <li><a routerLink="/report" routerLinkActive="active">Reports</a></li>
</ul>
<hr>
<router-outlet></router-outlet>
</div>

