ul>li
{
  display: inline-block;

}
ul{
  margin:0px;
  padding: 0px;
}
ul>li>a
{
  margin-right: 20px;
}
.active {
  color: #af00db;
  text-decoration: underline;
  }
  a{
    color: rgb(86, 105, 168);
  }
